## Please complete your lab here or in Spyder

In [47]:
# 1. Read in the iris dataset located in 1.10-notebooks-and-CSVs-lab/data 
import csv                            # opens csv package 
with open('../data/iris.csv', 'rU') as f:     #opening file in a certian way 
    dataset = []                       
    reader = csv.reader(f)         #reader for csv viles 
    for row in reader:
        dataset.append(row)        #interates through each row in data set 

        
print(dataset[:5])               #shows first 5 in data set

[['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'], ['5.1', '3.5', '1.4', '0.2', 'setosa'], ['4.9', '3', '1.4', '0.2', 'setosa'], ['4.7', '3.2', '1.3', '0.2', 'setosa'], ['4.6', '3.1', '1.5', '0.2', 'setosa']]

In [48]:
## 2. Notice the first list in your dataset is the column names. Eliminate it.
    
new_data = dataset[1:]          

print(new_data[:5])

[['5.1', '3.5', '1.4', '0.2', 'setosa'], ['4.9', '3', '1.4', '0.2', 'setosa'], ['4.7', '3.2', '1.3', '0.2', 'setosa'], ['4.6', '3.1', '1.5', '0.2', 'setosa'], ['5', '3.6', '1.4', '0.2', 'setosa']]

In [49]:
## 3. Identify the number of observations in your dataset

observations = len(new_data)  #new data does not include the header data so the number of observations will be accurate 

print(observations)

150

In [50]:
## 4. Identify what species is in row four of your dataset

row_4_species = new_data[3][4]     #first [3] is row 4 [4] corresponds to the species

print(row_4_species)

setosa

In [54]:
# 5. Calculate the average sepal length in the dataset (sepal is the first entry in each list)
length = []
for row in new_data:
    length.append(row[0])
    
print(length[:5])
    
print(new_data[:5])

['5.1', '4.9', '4.7', '4.6', '5']
[['5.1', '3.5', '1.4', '0.2', 'setosa'], ['4.9', '3', '1.4', '0.2', 'setosa'], ['4.7', '3.2', '1.3', '0.2', 'setosa'], ['4.6', '3.1', '1.5', '0.2', 'setosa'], ['5', '3.6', '1.4', '0.2', 'setosa']]

In [56]:
length_floats = []
for item in length:
    length_floats.append(float(item))  #The items above were in string form, and needed to be coverted. 
print(length_floats)

[5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9, 5.4, 4.8, 4.8, 4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5.0, 5.0, 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5.0, 5.5, 4.9, 4.4, 5.1, 5.0, 4.5, 4.4, 5.0, 5.1, 4.8, 5.1, 4.6, 5.3, 5.0, 7.0, 6.4, 6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5.0, 5.9, 6.0, 6.1, 5.6, 6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7, 6.0, 5.7, 5.5, 5.5, 5.8, 6.0, 5.4, 6.0, 6.7, 6.3, 5.6, 5.5, 5.5, 6.1, 5.8, 5.0, 5.6, 5.7, 5.7, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3, 6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5, 7.7, 7.7, 6.0, 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2, 7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6.0, 6.9, 6.7, 6.9, 5.8, 6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9]

In [57]:
calc_avg = sum(length_floats)/len(length_floats)
print (calc_avg)

5.84333333333

In [61]:
## 6. Calculate the average sepal length of setosa flowers using a loop
setosa = []
for row in new_data: 
    if row[4] =='setosa':
        setosa.append(row[0])
        
print(setosa)

['5.1', '4.9', '4.7', '4.6', '5', '5.4', '4.6', '5', '4.4', '4.9', '5.4', '4.8', '4.8', '4.3', '5.8', '5.7', '5.4', '5.1', '5.7', '5.1', '5.4', '5.1', '4.6', '5.1', '4.8', '5', '5', '5.2', '5.2', '4.7', '4.8', '5.4', '5.2', '5.5', '4.9', '5', '5.5', '4.9', '4.4', '5.1', '5', '4.5', '4.4', '5', '5.1', '4.8', '5.1', '4.6', '5.3', '5']

In [63]:
satosa_length = []
for item in setosa:
    satosa_length.append(float(item))
    
print(satosa_length)

[5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9, 5.4, 4.8, 4.8, 4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5.0, 5.0, 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5.0, 5.5, 4.9, 4.4, 5.1, 5.0, 4.5, 4.4, 5.0, 5.1, 4.8, 5.1, 4.6, 5.3, 5.0]

In [67]:
calc_avg = sum(satosa_length)/len(satosa_length)

print(calc_avg)

5.006